@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Fallback", sans-serif;
  @apply bg-background text-secondary;
}

@layer base {
  :root {
    /* custom chart colors */
    --chart-blue: #54a6ff;
    --chart-yellow: #ffc73a;
    --chart-orange: #ff4423;
    --chart-green: #9cd323;
    /* --chart-yellow : #FFC73A;
    --chart-yellow : #FFC73A; */
  }
  * {
    @apply border-border;
  }
}

/* login */
.login-gradient {
  background: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
}
